__pycache__
.DS_Store
rollouts
*.ram
.ipynb_checkpoints
raw_documentation
*.pem
_autoplay.mp4
session_*
.env
venv*
.python-version

# ROM files (user must supply their own)
ROM_INPUT/*.gb
ROM_INPUT/*.gbc
